/*---------SLIDE--------*/

.slide-container{
    display: flex;
    align-items:center;
}
.slide-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    }
.tile:hover {
    display:flex;
    position: relative;
    overflow: hidden;
    }
.tile:hover .tile-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tile:hover .tile-price{
    top: 15px;
    position: absolute;
    right: 0px;
    animation: slideprice 1s forwards;
}
.tile:hover .slide{
    display: flex;
    justify-content: center;
    position: absolute;
    right: -100px;
    width: 70px;
    height: 100px;
    background-color: #99E2D0;
    -webkit-animation: slide 1s forwards;
    animation: slide 1s forwards;
  }
.tile:hover .slide-content{
    animation-name: spin;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}
/* media queries */
  @media screen and (max-width: 350px){
    .tile:hover .tile-text{
        width: 180px;
    }
  }

  @media screen and (min-width: 302px) and (max-width: 330px){
    .tile:hover .tile-text{
        width: 130px;
    }
  }

  @media screen and (min-width: 270px) and (max-width: 301px){
    .tile:hover .tile-text{
        width: 120px;
    }
  }

  @media screen and (min-width: 255px) and (max-width: 269px){
    .tile:hover .tile-text{
        width: 100px;
    }
  }

  @media screen and (max-width: 254px){
    .tile:hover .tile-text{
        width: 80px;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 991px){
    .tile:hover .tile-price{
        padding-left: 170px;
    }
  }
  @media screen and (min-width: 992px){
    .tile:hover .tile-price{
        padding-left: 640px;
    }
}

/* slide animation */
  @-webkit-keyframes slide {
    100% { right: 0; }
  }
  
  @keyframes slide {
    100% { right: 0; }
  }
  @-webkit-keyframes slideprice {
    100% { right: 90px; }
  }
  
  @keyframes slideprice {
    100% { right: 90px; }
  }
  @keyframes spin {
    to{
        transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

/*---------FADE IN--------*/


.entrees-box-content{
    opacity: 0;
    animation: fadein 1s ease-in-out forwards;
}

.plats-box-content{
    opacity: 0;
    animation: fadein 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

.desserts-box-content{
    opacity: 0;
    animation: fadein 1s ease-in-out forwards;
    animation-delay: 1s;
}

    @keyframes fadein {

        to {
            opacity:1;
        }
    }

    @-webkit-keyframes fadein {

      to {
          opacity:1;
      }
  }