.tile:hover {
    display:flex;
    position: relative;
    overflow: hidden;
  }
.tile-text{
    width: 170px;
}
  .slide{
      display: none;
  }
  .slide-container{
      display: flex;
      justify-content: center;
      align-items:center;
  }
  .slide-content{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  .tile:hover .slide{
      display: flex;
      justify-content: center;
      position: absolute;
      right: -100px;
      width: 100px;
      height: 100px;
      background-color: #99E2D0;
      -webkit-animation: slide 1.5s forwards;
      animation: slide 1.5s forwards;
  }
  .tile:hover .tile-price{
    padding-left: 40px;
}
  @media screen and (min-width: 500px) and (max-width: 991px){
    .tile:hover .tile-price{
        padding-left: 140px;
    }
    .tile-text{
        width: 180px;
    }
  }
  @media screen and (min-width: 992px){
    .tile:hover .tile-price{
        padding-left: 620px;
    }
    .tile-text{
        width: 180px;
    }
}
  @-webkit-keyframes slide {
      100% { right: 0; }
  }
  
  @keyframes slide {
      100% { right: 0; }
  }
  .add-meal-animation:active {
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
  }