/*---------LOADING SPINNER--------*/
.custom-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: progress;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    visibility: visible;
    animation: animation__spiner 3s 3s forwards;
    background: rgba(0,0,0,.5);

}
.custom-loading-spinner::before {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #FF79DA ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    animation-iteration-count: 2;
}

/* loading spinner animation */

@keyframes spin {
    0% { transform: rotate(0deg); }
    99% { transform: rotate(360deg);}
    100%{ opacity: 0;}
}
@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    99% { transform: rotate(360deg);}
    100%{ opacity: 0;}
}
@keyframes animation__spiner {
    to {
     visibility: hidden;
    }
  }
@-webkit-keyframes animation__spiner {
    to {
     visibility: hidden;
    }
}
