/*---------HEADER--------*/
@font-face{
    font-family: "logo";
    src: url("../../fonts/Shrikhand.ttf");
}
  
@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: "Roboto-Light";
    src: url("../../fonts/Roboto-Light.ttf");
}
.global-frame{
    max-width: 375px;
    min-width: 230px;
    margin-right: auto;
    margin-left: auto;
}
body {
    font-family: Roboto, sans-serif;
}

header {
    width: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 50px;
}

.logo {
    font-family: 'logo', sans-serif;
    font-size: 30px;
    display: inline-block;
    padding: 1%;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    background-color: #eaeaea;
    height:50px;
    font-size: 15px;
    box-shadow: inset 1px 3px 6px -5px black;
}

.sub-top{
    background-color: #f6f6f6;
    height: 230px;
    margin-bottom: 10%;
}
.sub-top-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}

.explore-button{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 12px;
}
.button {
    text-align: center;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(0deg, #9356DC , #FF79DA);
    padding: 5.5%;
    border-radius: 30px;
}

.first-slogan p{
    font-family: 'Roboto-Black';
    font-size: 20px;
    text-align: center;
    line-height: 10px;
    margin-top: 15px;
}

.second-slogan p{
    font-family: 'Roboto-Light';
    color: black;
    text-align: center;
}
/*---------MAIN--------*/

    /*---------FUNCTION BOX--------*/

    .function-box-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .function-box-title{
        font-size: 20px;
        font-weight: bold;
        margin-left: 5%;
        padding-bottom: 5%;
    }
    /*---------RESTAURANTS BOX--------*/
    .restaurants-box{
        background-color: #f6f6f6;
        height: 1380px;
        margin-top: 15%;
    }
    .restaurants-box-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .restaurants-box-title{
        font-size: 20px;
        font-weight: bold;
        padding-top: 10%;
        padding-bottom: 5%;
        margin-left: 5%;
    }
    /*---------TILES--------*/
    .tile{
        transition: all .15s ease-in-out;
        box-shadow: 2px 0px 19px -4px rgb(165, 165, 165);
        border-radius: 20px;
        background-color: #f6f6f6;
        display: block;
        margin: 10px 10px 10px 10px;
    }
    .function-tile-global{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .function-tile:hover{
        box-shadow: 0px 0px 15px 10px rgba(15, 15, 15, 0.3);
    }
    .function-tile{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin-left: 0;
    }
    .function-tile a{
        width: 100%;
    }
    .function-number{
        position: relative;
        width: 20px;
        height: 20px;
        color: #FFFFFF;
        display: flex;
    }
    .function-number p{
        background-color: #9356DC;
        padding: 20% 40% 20% 40%;
        border-radius: 20px;
        display: flex;
        align-self: center;
    }
    .function-icon{
        color: grey;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .function-icon .fa-ellipsis-v{
        padding-top: 1px;
        font-size: 12.5px;
    }

    .function-tile-content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        height: 65px;
        width: 100%;
    }
    .function-tile:hover{
        background-color: #f5edff;
    }
    .function-tile:hover i{
        color: #9356DC;
    }
    .tile a{
        text-decoration: none;
        color:black;
    }
    .restaurant-tile-img img{
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }
    .restaurant-tile-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5%
    }
    .restaurant-tile-text p{
        font-family: "Roboto-Light";
        padding-top: 3%;
    }
    .tile-title{
        font-weight: bold;
    }
    .restaurant-icon{
        font-size: 25px;
    }
    .restaurant-icon .fas{
        display: none;
    }
    .restaurant-icon:hover .fas{
        display: inline;
        color: #9356DC;
    }
    .restaurant-icon:hover .far{
        display: none;
    }
    .restaurant-tile-img img{
        position: relative;
        text-align: center;
    } 
    .notification {
        margin: 0;
        z-index: 1;
        position: relative;
        top: 60px;
        right: -72%;
        background-color: #99E2D0;
        color: rgb(4 118 60);
        width: 80px;
        border: #99E2D0 solid 8px;
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
    }

/*----------FOOTER--------*/
footer{
    background-color: #353535;
    color: #FFFFFF;
    height: 170px;
}
.footer-logo{
    font-family: 'logo', sans-serif;
    font-size: 15px;
    display: inline-block;
    padding: 5%;
}   
.options-1{
    padding-left: 5%;
}
.options-1 a{
    text-decoration: none;
    color : white
}
.options-2{
    padding-left: 5%;
}
.options-2 a{
    text-decoration: none;
    color: #f1f1f1;
}
.option{
    padding: 1% 0 1% 0;
    display: flex;
}
#option-icon-1{
    padding-right:12px;
    font-size: 12px;
}
#option-icon-2{
    padding-right:9px;
    font-size: 10px;
}
/*----------MEDIA QUERIES--------*/
@media screen and (max-width: 230px){
    .notification{
        right: -50%;
    }
}
@media screen and (min-width: 210px) and (max-width: 310px){
    .notification{
        right: -60%;
    }
}
/*Tablet version*/

@media screen and (min-width: 500px) and (max-width: 991px){
    .global-frame{
        max-width: 500px;
    }
    .notification{
        right: -392px;
    }
}
/*Desktop version*/

@media screen and (min-width: 992px){
    .global-frame{
        max-width: 992px;
    }
    .top{
        height: 70px;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .function-box{
        width: 450px;
        margin-right: auto;
        margin-left: auto;
    }
    .explore-button .button{
        padding: 10px;
    }
    .restaurants-box{
        height: unset;
        margin-top: 20px;
        padding-bottom: 50px;
    }
    .restaurants-box-title{
        padding-bottom: 0;
    }
    .restaurants-box-content{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tile{
        width: 468px;
    }
    .notification{
        right: -390px;
    }
    footer{
        height: unset;
    }
    .footer-logo{
        padding: 4%;
    }
}